const AddCustomer = () => {
    return (
    <div class="container">
    <form action="/customers/add" method="POST">
        <div class="mb-3">
            <label for="name" class="from-label">Nazwa klienta</label>
            <input type="text" class="form-control" id="name" name="name" />
        </div>
        <div class="mb-3">
            <label for="content" class="from-label">Adres:</label>
        </div>
        <div class="mb-3">
            <label for="street" class="from-label">Ulica numer:</label>
            <input type="text" class="form-control" id="street" name="street" />
        </div>
        <div class="mb-3">
            <label for="postCode" class="from-label">Kod pocztowy:</label>
            <input type="text" class="form-control" id="postCode" name="postCode" />
        </div>
        <div class="mb-3">
            <label for="city" class="from-label">Miasto:</label>
            <input type="text" class="form-control" id="city" name="city" />
        </div>
        <div class="mb-3">
            <label for="nip" class="from-label">NIP:</label>
            <input type="text" class="form-control" id="nip" name="nip" />
        </div>
        <button type="submit" class="btn btn-primary">Dodaj</button>
    </form>
</div>
)}

export default AddCustomer;