.App {
  text-align: center;
  background-image: url(../src/img/Sage-Reports-Automation.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

a {
  color: black;
}